/* Slider */
.blog-slider {
  padding-top: 50px;
  background-color: #fff;
  color: #000;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-bottom: 100px;
  flex-wrap: wrap; /* Allow slides to wrap on smaller screens */
}

.blog-slide {
  display: none;
  max-width: 300px; /* Set maximum width for individual slides */
  margin: 0 auto; /* Center slides horizontally */
}

.blog-slide.active {
  display: block;
}

.prev-btn,
.next-btn {
  color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 20px; /* Adjust position for smaller screens */
}

.next-btn {
  right: 20px; /* Adjust position for smaller screens */
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* White with some transparency */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff; /* White background */
  color: #000; /* Black font */
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Adjust width for smaller screens */
  max-height: 80%;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* See More Button */
.see-more-btn {
  background-color: transparent;
  border: 2px solid black; /* Add black border */
  border-radius: 25px; /* Adjust border radius for smaller button */
  color: black;
  padding: 8px 16px; /* Adjust padding for smaller button */
  font-size: 14px; /* Adjust font size */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add border-color transition */
  outline: none; /* Remove outline */
}

.see-more-btn:hover {
  background-color: black;
  color: white;
  border-color: transparent; /* Change border color on hover */
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .blog-slide {
      max-width: 100%; /* Set slides to full width on smaller screens */
  }
}